$primaryColor: #003057;  // Deep Navy Blue
$secondaryColor: #E65525; // Patagonia Orange/Red
$accentColor: #008080;   // Teal
$greyColor: #F5F5F5;    // Light Grey/Off-white
$fontColor: #333;
// $serviceTitleBg: #D95B1E; // Comment out unused variable

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;